.topButtonContainer{
    display: flex;
    gap: 10px; 
}

.topButtonContainer .button{ 
    
height: 48px;
width: 160px;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
background: #ffffff;
border: 1px solid #4175DF;
color: #4175DF;
border-radius: 4px;
}


.topButtonContainer .buttonActive,
.topButtonContainer .button:hover{ 
    
   
    background: #4175DF;
    color: #fff;

}