@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');


.container {
  background: #FEF2DB;
}


.heroContainer {
  /* border: solid red; */
  /* display: flex;
    justify-content: center; */
  position: relative;
  /* height: 300px; */
  display: flex;
  justify-content: center;
  padding: 25px;
  max-width: 350px;
}
.maincontainer {
  position: relative;
}

.button{
  align-items: right;
}

.close{
  display: flex;
}


.imagecontainer {

  position: absolute;
  /* transform: translate(-50%,50%); */
  top: -10%;
  left: 30% ;
  width: 173px;
  height: 173px;
  border-radius: 50%;
  border: 5px solid #FFD200;
  background-color: #FFF2BB;
  padding: 47px;
}

.imagebg {
  position: relative;
  width: 80px !important;
  height: 80px !important;
}

.heading {
  font-size: 30px;
  color: black;
  font-family: Poppins;
  font-weight: bold;
  line-height: 54px;
}

.subheading {
  font-size: 16px;
  color: #5A5A5A;
  font-family: Poppins;
  font-weight: 400;
  line-height: 24px;
}


.subpartheading {
  font-size: 8px;
  color: #B8B8B8;
  font-family: Poppins;
  font-weight: 300;
  line-height: 12px;
}

/* .badge{
  width: 100%;
} */

.main.badge{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}



@media (min-width: 768px) {
  .heroContainer {
    /* border: solid red; */
    /* display: flex;
      justify-content: center; */
    position: relative;
    /* height: 520px; */
    margin-top: 100px;
    margin-bottom: 100px;
    display: block;
    max-width: none;
    /* margin-right: 50px; */
  }
}

.launchingHeading {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 42px;
  /* identical to box height */
  color: #ff9513;
}

@media (min-width: 992px) {
  .launchingHeading {
    font-size: 48px;
  }
}

.mainText {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  /* or 25px */

  color: #2c2b2b;

  opacity: 0.8;
}


.services_container {
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 53px;
  /* border: solid red; */
}

.services_container .containerTitle {
  margin-top: 32px;
  margin-bottom: 32px;
}

.services_container .cards_container {
  display: flex;
  /* border: dotted blue; */
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 32px;
}

.services_container .cards_container .card {
  width: 278px;
  height: 222px;
  border-radius: 8px;
  padding: 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services_container .cards_container .card .icon {
  font-size: 36px;
  margin-bottom: 15px;
}

.services_container .cards_container .card .title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 12px;
}

.services_container .cards_container .card .text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */

  text-align: center;

  color: #373737;
}

@media (min-width: 768px) { 


  .services_container {
    text-align: left;
    font-weight: 500;
    font-size: 32px;
    line-height: 53px;
    /* border: solid red; */
    padding: 80px;
  }
  

.services_container .cards_container {
  display: flex;
  /* border: dotted blue; */

  justify-content: flex-start;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 32px;
}




.services_container .containerTitle {
  margin-top: 20px;
  margin-bottom: 30px;
}


.services_container .cards_container .card {
  width: 278px;
  height: 222px;
  border-radius: 8px;
  padding: 26px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services_container .cards_container .card .icon {
  font-size: 36px;
  margin-bottom: 10px;
  margin-top: -15px;
}

.services_container .cards_container .card .text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */

  text-align: left;

  color: #373737;
}

}

.card.chat_card {
  background: #ddf6fd;
}

.chat_card .icon {
  color: #12c5f8;
}

.card.call_card {
  background: #ffdada;
}

.call_card .icon {
  color: #eb5757;
}

.card.read_card {
  background: #EBDCF9;
}

.read_card .icon {
  color: #8A21EB;
}

.card.shop_card {
  background: #DCF7E8;
}

.shop_card .icon {
  color: #51D48E;
}

.card.report_card {
  background: #F5F2FF;;
}

.report_card .icon {
  color: #8F73ED;;
}

.card.live_card {
  background: #FFE8F7;
}

.live_card .icon {
  color:  #FF7BD1;
}

.card.daily_card {
  background: #FEF2DB;
}

.daily_card .icon {
  color: #f8d086;
}



.about_container{ 
  /* border: solid red; */
  margin-top: 30px;
}

.about_container .container_title{
  font-weight: 500;
  font-size: 24px;
  line-height: 53px;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;
  padding-left: 10px;

}

.about_container .image_container{
  /* border: 1px solid green; */
  max-width: 300px;
}

.about_container .text_container{
  /* border: 1px solid blue; */
  font-size: 18px;
line-height: 140%;
}




@media (min-width: 768px) { 

  .about_container{ 
    /* border: solid red; */
    margin-top: 30px;
    padding-left: 80px;
  }


  .about_container .container_title{
    font-weight: 500;
    font-size: 32px;
    line-height: 53px;
    text-align: left;
  }


 }


 .faq_container{
   /* border: 1px solid red;  */
   padding: 20px;
 }

 .faq_container .container_title{
  font-weight: 500;
  font-size: 24px;
  line-height: 53px;
  text-align: center;
 }

 @media (min-width: 768px) { 

  .faq_container{
    /* border: 1px solid red;  */
    padding: 80px;
  }

  .faq_container .container_title{
    font-weight: 500;
    font-size: 32px;
line-height: 53px;
    text-align: left;
    margin-top: 32px;
  margin-bottom: 32px;
   }

 }


 .getItOn_container{
   /* border: 1px solid red;  */
   background: #FDD036;
   padding-top: 80px;
   padding-bottom: 80px;
 }

 .getItOn_container .image_container{

 }

 .getItOn_container .text_container{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 5px;

 }

 .getItOn_container .text_container .title{
  font-weight: bold;
  font-size: 36px;
  line-height: 72px;
  /* identical to box height */
  
  color: #995400;
 }


 .getItOn_container .text_container .para{
  font-size: 18px;
  line-height: 140%;
  /* or 34px */
  color: #3A3A3C;
  text-align: center;
  max-width: 800px;
 }

 .badge_container{
   width: 205px;
   /* border: 1px solid red;  */
 }


 @media (min-width: 768px) { 

  .getItOn_container{
    /* padding: 80px; */

  }

  .getItOn_container .text_container{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 5px;
     }



     .getItOn_container .text_container .para{
      font-size: 24px;
      line-height: 140%;
      /* or 34px */
      color: #3A3A3C;
      text-align: left;
     }
    


 }