.mainInfoContainer {
    border: solid red; 
  
    margin-top: 15px;
    display: flex;
  
    gap: 16px;
  }
  
  .empPhoto {
    height: 144px;
    width: 144px;
    border-radius: 100%;
    background: #dedede;
    border: dotted pink;
    position: relative;
  }

  .empInfo {
    border: dotted green;
    flex-grow: 2;
    
  }