.mainInfoContainer {
    /* border: solid red;  */
  
    margin-top: 15px;
    display: flex;
  
    gap: 16px;
  }
  
  .empPhoto {
    height: 120px;
    width: 120px;
    border-radius: 100%;
    background: #dedede;
    /* border: dotted pink; */
    position: relative;
    z-index: 5;
  }

  .empInfo {
    /* border: dotted green; */
    flex-grow: 2;
    
  }

  .permissionsContainer{
    /* border: solid red; */
    margin-top: 20px;

  }

  .twoGridLayout{
    display: grid;
    grid-template-columns: auto auto;
  }

  .gridItem{
    width: 70%;
  }