@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

.astrologerlist {
    --body-bg-color: rgba(255, 243, 221, 1);
    --tag-bg-color: rgba(255, 255, 190, 1);
    --primary-color: rgba(245, 133, 0, 1);
    --secondary-color: rgba(245, 140, 7, 1);
    --card-border-color: rgba(244, 133, 0, 0.44);
    --online-indicator-color: rgb(62, 219, 0);
    --offline-indicator-color: rgb(252, 75, 31);
    --busy-indicator-color: rgb(246, 250, 32);
    

    --scroll-bar-color: #c5c5c5;

    /* position: absolute;   */
    width: 100%;
    height: max-content;
    left: 0;
    top: 80px;
    padding: 4%;
    padding-bottom: 0;
    box-sizing: border-box;
    vertical-align: middle;
    background-color: var(--body-bg-color);
}
.card {
    position: relative;
    width: 953px;
    height: 247px;
    border-radius: 20px;
    border: 3px var(--card-border-color);
    offset: 0px 4px;
    background-color: #F4850070;
}

.heading {
   color: #F48500;
   font-family: Lato;
   font-weight: 400;
   font-size: 36px;
   line-height: 43.2px;
   align-content: left;
   vertical-align: top;
  }

  .mainText {
    color: #000000;
    font-family: Lato;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;
    align-content: left;
    vertical-align: top;
   }
   .imagecnt {
    border-radius: 5px;
    border-color: #F48500;  
   }

   .image {
    height: 203px;
    width: 333px;
    border-radius: 5px;
    border-color: #F48500;  
   }

   .counter {
    color: #000000;
    font-family: Lato;
    font-weight: 400;
    font-size: 11px;
    line-height: 13.2px;
    align-content: left;
    vertical-align: top;
   }

  .authorname {
    color: #909090;
    font-family: Lato;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.4px;
    align-content: left;
    vertical-align: top;
   }

  .time {
    color: #909090;
    font-family: Lato;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.4px;
    align-content: left;
    vertical-align: top;
   }
 

.paginateContainer{
    display: inline-block;
    width: 100%;
   
}


/* Works on Chrome, Edge, and Safari */
.astrologerlist::-webkit-scrollbar {
    display: none;
}

/* page tools container */
.pgtoolscontainer {
    position: relative;
    margin-top: 10px;
    width: 100%;
    height: 75px;
    margin-bottom: 2%;
}
.paginationContainer {
    /* border: dotted green ; */
    margin-top: auto;
    align-items: center;
    margin-bottom: 5px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 150px;
    /* margin-top: auto; */
  }
  
  
  .centerDivFlex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
  }



.pgtoolstitle {
    position: absolute;
    margin-top: 40px;
    font-family: Poppins;
    font-size: 1.2rem;
}


/* Sort by container */
#search,
.dropdown {
    position: absolute;
    border-radius: 10px;
    font-family: Lato;
    box-shadow: 1px 3px 10px 1px rgba(102, 102, 102, 0.2);
}

#sortBy,
#search {
    right: 25%;
    bottom: 10px;
    width: 24%;
}

#sortBy[open] {
    z-index: 2;
}

.dropdown summary{
    padding: 18.5px;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    list-style: none;
    outline: none;
}

.dropdown summary::-webkit-details-marker{
    display: none;
}

#sortBy[open] summary:before {
    content: '';
    display: block;
    width: 100vw;
    height: 100vh;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
}

#sortBy summary:after {
    content: '❮';
    color: rgb(250, 146, 9);
    display: inline-block;
    float: right;
    transition: transform ease-in-out 100ms
}

#sortBy[open] summary:after {
    transform: rotate(-90deg);
}

.dropdown nav {
    position: absolute;
    top: calc(100% + .5rem);
    left: 0;
    width: 100%;
    height: max-content;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    background: rgb(255, 255, 255);
}

.dropdown ul {
    width: 100%;
    padding: 0;
    margin: 0;
    background: none;
    list-style: none;
}

.dropdown ul::-webkit-scrollbar {
    display: none;
}

.dropdown li {
    margin: 0;
    padding: 1rem 0;
    border-bottom: 1px solid #ccc;
}

.dropdown li:first-child {
    padding-top: 0;
}

.dropdown li:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

/* FAKE SELECT */

#sortBy summary.radios {
    counter-reset: radios;
}

#sortBy input[type=radio]:first-child {
    pointer-events: none;
}

#sortBy input[type=radio] {
    counter-increment: radios;
    appearance: none;
    display: none;
}

#sortBy input[type=radio]:checked {
    display: inline;
}

#sortBy input[type=radio]:after {
    content: attr(title);
    display: inline;
    font-size: medium;
    color: #5f5f5f;
}

#sortBy ul.list {
    counter-reset: labels;
}

#sortBy label {
    width: 100%;
    display: block;
    cursor: pointer;
}

/* Search */
#search {
    right: 0;
}

#search>input {
    padding: 20px;
    width: calc(85%);
    /* max-width: 280px; */
    border: none;
    border-radius: 10px 0 0 10px;
    color: rgb(63, 63, 63);
    background-color: rgb(255, 255, 255);
    font-size: .9rem;
    outline: none;
}

#search>svg{
    /* display: none; */
    position: absolute;
    width: 15%;
    height: 100%;
    right: 0;
    padding: 1rem;
    border-radius: 0 10px 10px 0;
    color: var(--secondary-color);
    background-color: #fff;
}

/* Filter Container */
.filtercontainer {
    position: relative;
    display: inline-block;
    min-width: 120px;
    width: 20%;
    height: auto;
    vertical-align: top;
    overflow: auto;
    /* background-color: #ccc; */
}

.filtercontainer>.title {
    position: relative;
    font-family: Lato;
    font-size: small;
    text-transform: uppercase;
    color: rgb(41, 41, 41);
}

.filtercontainer .dropdown {
    position: relative;
    margin-bottom: 15px;
    width: 90%;
    min-width: 120px;
    box-shadow: none;
    user-select: none;
}

.filtercontainer .dropdown:first-of-type{
    margin-top: 10%;
}

.filtercontainer .dropdown summary {
    padding: 5% 7%;
    font-family: Poppins;
    font-weight: 500;
    text-align: center;
    box-shadow: 1px 3px 10px 1px rgba(102, 102, 102, 0.2);
}

.filtercontainer .dropdown nav {
    position: relative;
    margin-top: 5px;
    box-shadow: 1px 3px 8px 1px rgba(102, 102, 102, 0.363);
}

.filtercontainer .dropdown label {
    position: relative;
    user-select: none;
    padding-left: 20px;
}

.dropdown input[type=checkbox] {
    display: none;
}

.dropdown input[type=checkbox]+label::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    height: 14px;
    width: 14px;
    border-radius: 3px;
    border: 1px solid var(--secondary-color);
    background-color: #fff;
}

.dropdown input[type=checkbox]:checked+label::before{
    background-color: var(--secondary-color);
}


.dropdown input[type=checkbox]:checked+label::after {
    position: absolute;
    left: 2px;
    top: 5px;
    content: "\2713";
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    line-height: 15px;
}

/* cards container */
.cardscontainer {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 76%;
    height: auto;
    float: right;
}

.cardscontainer>.title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-size: small;
    font-family: Lato;
}

/* Card */
.cards {
    width: 100%;
    padding-right: 10px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.card {
    position: relative;
    width: 96%;
    aspect-ratio: 7 / 3;
    margin-bottom: 40px;
    /* height: 195px; */
    border-radius: 25px;
    border: 4px solid var(--card-border-color);
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    font-family: Lato;
    box-shadow: 1px 3px 10px 1px rgba(126, 126, 126, 0.2);
}

/* online indicator */

.card .onlinestat {
    position: absolute;
    top: 8%;
    left: 3.5%;
    padding: 5px 12px 5px 22px;
    border-radius: 5px;
    text-transform: lowercase;
    color: #fff;
    background-color: #00000080;
    font-size: .6rem;
    box-shadow: 0 0 2px 1px rgba(240, 102, 60, 0.2);
    user-select: none;
    z-index: 1;
}

.card .onlinestat::before,
.cardscontainer .title::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.cardscontainer .title::after {
    top: 6px;
    right: -20px;
}

.card .onlinestat::before {
    left: 5px;
    top: 5px;
}

.card .onlinestat[data-status="online"]::before,
.cardscontainer .title[data-status="online"]::after {
    background-color: var(--online-indicator-color);
    box-shadow: 0 0 3px 1px var(--online-indicator-color);
}
.card .onlinestat[data-status="offline"]::before,
.cardscontainer .title[data-status="offline"]::after {
    background-color: var(--offline-indicator-color);
}
.card .onlinestat[data-status="busy"]::before,
.cardscontainer .title[data-status="busy"]::after {
    background-color: var(--busy-indicator-color);
}

/* Image on the card */
.card .astrologerimg {
    position: relative;
    width: 40%;
    height: 100%;
    display: inline-block;
}

/* text content and buttons on the card */
.card .infocontent {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 40%;
    width: 60%;
    height: 100%;
    padding: 5%;
    user-select: none;
    /* background-color: #c5c5c5; */
}

.card .infocontent>* {
    position: relative;
    display: block;
}

.card .name {
    margin: 0;
    margin-bottom: 4%;
    line-height: .8;
    user-select: text;
    font-size: 1.2rem;
    color: var(--primary-color);
    font-family: Poppins;
    font-weight: 500;
}

.card .starrating {
    color: #575757;
    font-size: xx-small;
    margin-bottom: 2%;
}

.card .starrating i,
.card .lang i{
    color: var(--primary-color);
    margin-right: 3px;
}

.card .starrating>b {
    color: initial;
    vertical-align: top;
}

.card .lang {
    font-size: xx-small;
    font-weight: bold;
    margin-bottom: 4%;
}

.card .tags {
    width: 85%;
    vertical-align: middle;
    height: 31%;
    overflow: hidden;
    margin-bottom: 4%;
    /* background-color: antiquewhite; */
}

.card .tags .title {
    font-size: .9rem;
    margin-bottom: 5px;
}

.card .tags .tagcontainer {
    width: 100%;
    /* background-color: #575757; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.card .tags .tag {
    font-size: .6rem;
    color: var(--primary-color);
    background-color: var(--tag-bg-color);
    width: 30%;
    height: 20px;
    padding: 3px;
    text-align: center;
    vertical-align: bottom;
    border-radius: 5px;
    margin-bottom: 3%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card .priceratetag {
    float: left;
    font-size: large;
}

.card .priceratetag small {
    
    font-size: x-small;
    vertical-align: middle;
}

.card .contactbutton {
    float: right;
    right: 5%;
    padding: 2.5% 7.5%;
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    color: #fff;
    background-color: var(--secondary-color);
    font-size: x-small;
    outline: none;
    cursor: pointer;
}

.card .contactbutton:hover {
    color: var(--secondary-color);
    background-color: #fff;
}

.imagecontainer {
    position: absolute;
    top: -130%;
    left: 50%;
    transform: translate(-50%,50%);
    border-radius: 50%;
    border: 5px solid red;
    overflow: hidden;
    background-color: blue;
}

.imagebg {
    width: 150px;
    height: 150px;
   
}

/* ////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////// */


@media only screen and (max-width: 768px) {

.pgtoolstitle {
    display: none;
}

#sortBy{
    /* position: fixed; */
    right: 0;
    bottom: 10px;
    width: 49%;
}

#sortBy[open] {
    z-index: 2;
}

.dropdown summary{
    padding: 18.5px;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    list-style: none;
    outline: none;
}

.dropdown summary::-webkit-details-marker{
    display: none;
}

#sortBy[open] summary:before {
    content: '';
    display: block;
    width: 100vw;
    height: 100vh;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
}

#sortBy summary:after {
    content: '❮';
    color: rgb(250, 146, 9);
    display: inline-block;
    float: right;
    transition: transform ease-in-out 100ms
}

#sortBy[open] summary:after {
    transform: rotate(-90deg);
}

.dropdown nav {
    position: absolute;
    top: calc(100% + .5rem);
    left: 0;
    width: 100%;
    height: max-content;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    background: rgb(255, 255, 255);
}

.dropdown ul {
    width: 100%;
    padding: 0;
    margin: 0;
    background: none;
    list-style: none;
}

.dropdown ul::-webkit-scrollbar {
    display: none;
}

.dropdown li {
    margin: 0;
    padding: 1rem 0;
    border-bottom: 1px solid #ccc;
}

.dropdown li:first-child {
    padding-top: 0;
}

.dropdown li:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

/* FAKE SELECT */

#sortBy summary.radios {
    counter-reset: radios;
}

#sortBy input[type=radio]:first-child {
    pointer-events: none;
}

#sortBy input[type=radio] {
    counter-increment: radios;
    appearance: none;
    display: none;
}

#sortBy input[type=radio]:checked {
    display: inline;
}

#sortBy input[type=radio]:after {
    content: attr(title);
    display: inline;
    font-size: medium;
    color: #5f5f5f;
}

#sortBy ul.list {
    counter-reset: labels;
}

#sortBy label {
    width: 100%;
    display: block;
    cursor: pointer;
}

/* Search */
#search {
    right: 0;
    top: 0;
    width: 100%;
}

#search>input {
    
}

/* Filter Container */
.filtercontainer {
    position: relative;
    display: inline-block;
    width: 20%;
    height: auto;
    vertical-align: top;
    overflow: auto;
    /* background-color: #ccc; */
}

.filtercontainer>.title {
    position: relative;
    font-family: Lato;
    font-size: small;
    text-transform: uppercase;
    color: rgb(41, 41, 41);
}

.filtercontainer .dropdown {
    position: relative;
    margin-bottom: 15px;
    width: 90%;
    box-shadow: none;
    user-select: none;
}

.filtercontainer .dropdown:first-of-type{
    margin-top: 10%;
}

.filtercontainer .dropdown summary {
    padding: 5% 7%;
    font-family: Poppins;
    font-weight: 500;
    text-align: center;
    box-shadow: 1px 3px 10px 1px rgba(102, 102, 102, 0.2);
}

.filtercontainer .dropdown nav {
    position: relative;
    margin-top: 5px;
    box-shadow: 1px 3px 8px 1px rgba(102, 102, 102, 0.363);
}

.filtercontainer .dropdown label {
    position: relative;
    user-select: none;
    padding-left: 20px;
}



.dropdown input[type=checkbox] {
    display: none;
}

.dropdown input[type=checkbox]+label::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    height: 14px;
    width: 14px;
    border-radius: 3px;
    border: 1px solid var(--secondary-color);
    background-color: #fff;
}

.dropdown input[type=checkbox]:checked+label::before{
    background-color: var(--secondary-color);
}


.dropdown input[type=checkbox]:checked+label::after {
    position: absolute;
    left: 2px;
    top: 5px;
    content: "\2713";
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    line-height: 15px;
}

    .cardscontainer {
        display: block;
        width: 100%;
    }
    
    /* .cardscontainer>.title {
        display: block;
    } */
    
    /* Card */
    .cards {
        padding: 0;
    }

    .card {
        width: 100%;
        margin-bottom: 20px;
        /* height: 195px; */
        border-radius: 15px;
    }
    
    /* online indicator */
    
    .card .onlinestat {
        padding: 2px 5px 2px 12px;
        border-radius: 3px;
        font-size: .4rem;
    }

    .card .onlinestat::before {
        width: 5px;
        height: 5px;
    }
    
    .card .name {
        font-size: 1rem;
    }
    
    .card .starrating {
        font-size: .5rem;
    }
    
    .card .lang {
        font-size: .5rem;
    }
    
    .card .tags {
        width: 100%;
    }
    
    .card .tags .title {
        font-size: .65rem;
    }
    
    .card .tags .tagcontainer {
        width: 100%;
    }
    
    .card .tags .tag {
        font-size: .6rem;
        width: 28%;
        height: 15px;
        border-radius: 3px;
    }
    
    .card .priceratetag {
        float: left;
        font-size: 1.2rem;
    }
    
    .card .priceratetag small {
        font-size: .8rem;
        vertical-align: middle;
    }
    
    .card .contactbutton {
        float: right;
        right: 5%;
        padding: 2% 4%;
        font-size: .6rem;
    }
}