.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.input_field {
  background: #bca385;
  border-color: #bca385;
  color: #fff;
  border-radius: 16px;
  border-style: none;
  padding: 16px 48px;
  width: 328px;
  height: 60px;
}

.input_field::placeholder {
  color: #fff;
}

.submit_button {
  padding: 16px 48px;
  border-style: none;

  width: 181px;
  height: 60px;

  background: #ffa437;
  border-radius: 16px;
  color: #fff;
}
