
.mainHeading{
    color: rgba(124, 97, 6, 1);
    
}


.badge_container{
    width: 205px;
    /* border: 1px solid red;  */
  }
 

@media (min-width: 576px) { 

    .baseContainer{
        /* background: #E5E5E5; */
        min-height: 100vh;
        
        display: flex;
        justify-content: center;
        align-items: center;


    }



}

.imageContainer{
    height: 193px;
    /* border: 1px solid red; */
    background-image: url("/images/mascot-mobile.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #FBE5AD;
   
    
}


@media (min-width: 576px) {
    .imageContainer{
        min-height: 90vh;
        height: 100%;
        /* border: 1px solid red; */
        background-image: url("/images/mascot.png");
        background-position: center;
        background-size: cover;
        background-color: #FBE5AD;
    }
}

.formContainer{
    max-width: 700px;
    /* height: 100%; */
    /* border: solid red; */
}

.bottomButtons{
     /* max-width: 700px; */
    /* height: 100%; */
    /* border: solid red; */
    /* display: flex;
    margin-left: auto;  */
}


.endingBlueText{
    font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 140%;

color: #4175DF;
}


.listDropdownContainer{
    /* border: 1px solid red; */
    position: absolute;
    /* top: 50px;  */
    width: 100%;
    background: white;
    padding: 15px;
    height: 300px;
    overflow: auto;
    border-radius: 5px;
    margin-top: 5px;
    z-index: 1;
}