@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

.root {
    --body-bg-color: rgba(255, 243, 221, 1);
    --tag-bg-color: rgba(255, 255, 190, 1);
    --primary-color: rgba(245, 133, 0, 1);
    --secondary-color: rgba(245, 140, 7, 1);
    --card-border-color: rgba(245, 142, 7, 0.4);
    --online-indicator-color: rgb(62, 219, 0);

    --scroll-bar-color: #c5c5c5;
}

/* * {
    box-sizing: border-box;
    vertical-align: middle;
} */

.body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--body-bg-color);
    overflow: hidden;
}

/* Topmost Header bar */
.app-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 75px;
    padding: 10px 70px;
    background-color: #fff;
}

.main {
    width: 100%;
    height: calc(100%-75px);
    padding: 50px;
    padding-bottom: none;
}

/* page tools container */
.pgtoolscontainer {
    position: relative;
    top: 10px;
    width: 100%;
    height: 75px;
    margin-bottom: 30px;
}

/* BreadCrumb */
nav.breadcrumb {
    position: absolute;
    left: 0;
    top: 5px;
    height: auto;
    width: max-content;
    font-family: Lato;
    font-size: 15px;
    font-weight: bolder;
}

nav.breadcrumb ol {
    margin: 0;
    padding-left: 0;
    list-style: none;
    user-select: none;
}

nav.breadcrumb li {
    color: #000;
    display: inline-block;
}

nav.breadcrumb li a {
    color: inherit;
    text-decoration: none;
}

nav.breadcrumb li:not(:first-child):before {
    display: inline-block;
    content: "/";
    vertical-align: bottom;
}

nav.breadcrumb li:last-child {
    color: var(--primary-color);
}

.pgtoolscontainer h2 {
    position: absolute;
    margin-top: 40px;
    font-family: Poppins;
    font-size: large;
}


/* Sort by container */
.pgtoolscontainer.search
details {
    position: absolute;
    border-radius: 10px;
    font-family: Lato;
    box-shadow: 1px 3px 10px 1px rgba(102, 102, 102, 0.2);
    background-color: yellow;
    margin-left: 300px;
}

.pgtoolscontainer .sortby,
.pgtoolscontainer .search {
    right: 310px;
    bottom: 10px;
    width: 290px;
    background-color: yellow;
    margin-left: 300px;
}

.details[open] {
    z-index: 1;
}

.details summary {
    padding: 1rem;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    list-style: none;
    outline: none;
}

.details summary::-webkit-details-marker {
    display: none;
}

.details.sortby[open] summary:before {
    content: '';
    display: block;
    width: 100vw;
    height: 100vh;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
}

.details.sortby summary:after {
    content: 'â®';
    color: rgb(250, 146, 9);
    display: inline-block;
    float: none;
    transition: transform ease-in-out 100ms
}

.details.sortby[open] summary:after {
    transform: rotate(-90deg);
}

.details nav {
    position: absolute;
    top: calc(100% + .5rem);
    left: 0;
    width: 100%;
    height: max-content;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    background: rgb(255, 255, 255);
}

.details ul {
    width: 100%;
    padding: 0;
    margin: 0;
    background: none;
    list-style: none;
}

.sortby ul::-webkit-scrollbar {
    display: none;
}

.sortby li {
    margin: 0;
    padding: 1rem 0;
    border-bottom: 1px solid #ccc;
}

.sortby li:first-child {
    padding-top: 0;
}

.sortby li:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

/* FAKE SELECT */

.sortby summary.radios {
    counter-reset: radios;
}

.sortby input[type=radio]:first-child {
    pointer-events: none;
}

.sortby input[type=radio] {
    counter-increment: radios;
    appearance: none;
    display: none;
}

.sortby input[type=radio]:checked {
    display: inline;
}

.sortby input[type=radio]:after {
    content: attr(title);
    display: inline;
    font-size: small;
    color: #5f5f5f;
}

.sortby ul.list {
    counter-reset: labels;
}

.sortby label {
    width: 100%;
    display: block;
    cursor: pointer;
}

/* Search */
.pgtoolscontainer .search {
    right: 0px;
}

.pgtoolscontainer .search>input {
    padding: 1.1rem;
    max-width: 280px;
    border: none;
    border-radius: 10px 0 0 10px;
    color: rgb(63, 63, 63);
    background-color: rgb(255, 255, 255);
    font-size: small;
    outline: none;
}

.pgtoolscontainer .search>i{
    position: absolute;
    padding: 1rem;
    border-radius: 0 10px 10px 0;
    color: var(--secondary-color);
    background-color: #fff;
}

/* Filter Container */
.filtercontainer {
    position: relative;
    display: inline-block;
    width: 20%;
    height: 540px;
    vertical-align: top;
    overflow: auto;
    /* background-color: #ccc; */
}

.filtercontainer>.title {
    position: absolute;
    top: 0;
    left: 0;
    font-family: Lato;
    font-size: small;
    text-transform: uppercase;
    color: rgb(41, 41, 41);
}

.filtercontainer details {
    position: relative;
    margin-bottom: 15px;
    top: 40px;
    width: 210px;
    box-shadow: none;
    user-select: none;
}

.filtercontainer details summary {
    padding: .7rem .9rem;
    font-family: Poppins;
    font-weight: 500;
    text-align: center;
    box-shadow: 1px 3px 10px 1px rgba(102, 102, 102, 0.2);
}

.filtercontainer details nav {
    position: relative;
    margin-top: 5px;
    box-shadow: 1px 3px 8px 1px rgba(102, 102, 102, 0.363);
}

.filtercontainer details label {
    position: relative;
    user-select: none;
    padding-left: 20px;
}

.input[type=checkbox] {
    display: none;
}

.input[type=checkbox]+label::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    height: 14px;
    width: 14px;
    border-radius: 3px;
    border: 1px solid var(--secondary-color);
    background-color: #fff;
}

.input[type=checkbox]:checked+label::before{
    background-color: var(--secondary-color);
}


.input[type=checkbox]:checked+label::after {
    position: absolute;
    left: 2px;
    top: 5px;
    content: "\2713";
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    line-height: 15px;
}

/* cards container */
.cardscontainer {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 76%;
    height: 72vh;
    margin-left: 3.5%;
    overflow: hidden;
}

.cardscontainer>.title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-size: small;
    font-family: Lato;
}

/* Card */
.cards {
    width: 100%;
    height: 92.5%;
    padding-right: 10px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-bar-color) var(--scroll-bar-bg-color);
}

.xyz::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0.5);
}

/* Works on Chrome, Edge, and Safari
*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--scroll-bar-color);
    border-radius: 20px;
} */

.card {
    position: relative;
    width: 48%;
    margin-bottom: 40px;
    height: 195px;
    border-radius: 25px;
    border: 4px solid var(--card-border-color);
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    font-family: Lato;
    box-shadow: 1px 3px 10px 1px rgba(126, 126, 126, 0.2);
}

/* online indicator */

.card .indicator {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 5px 12px 5px 22px;
    border-radius: 5px;
    text-transform: lowercase;
    color: #fff;
    background-color: #00000080;
    font-size: 10px;
    box-shadow: 0 0 2px 1px rgba(240, 102, 60, 0.2);
    user-select: none;
    z-index: 1;
}

.card .indicator::before,
.cardscontainer .title::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.cardscontainer .title::after {
    top: 6px;
    right: -20px;
}

.card .indicator::before {
    left: 5px;
    top: 5px;
}

.card .indicator[data-status-color="green"]::before,
.cardscontainer .title[data-status-color="green"]::after {
    background-color: var(--online-indicator-color);
    box-shadow: 0 0 3px 1px var(--online-indicator-color);
}

/* Image on the card */
.card img {
    position: relative;
    width: 40%;
    height: 100%;
    display: inline-block;
}

/* text content and buttons on the card */
.card .infocontent {
    position: absolute;
    display: inline-block;
    /* top: 3px; */
    top: 0;
    left: 40%;
    width: 60%;
    height: 100%;
    user-select: none;
    /* background-color: #c5c5c5; */
}

.card .infocontent>* {
    position: absolute;
}

.card .infocontent .name {
    top: 0px;
    left: 20px;
    line-height: .8;
    user-select: text;
    font-size: large;
    color: var(--primary-color);
    font-family: Poppins;
    font-weight: 600;
}

.starrating {
    top: 45px;
    left: 20px;
    color: #575757;
    font-size: xx-small;
    background-color: yellow;
}

.card .infocontent .starrating i,
.card .infocontent .lang i{
    color: var(--primary-color);
    margin-right: 3px;
}

.card .infocontent .starrating>b {
    color: initial;
    vertical-align: top;
}

.card .infocontent .lang {
    top: 65px;
    font-size: xx-small;
    font-weight: bold;
    left: 20px;
}

.card .infocontent .tags {
    top: 88px;
    left: 20px;
    width: 85%;
    /* background-color: antiquewhite; */
}

.card .infocontent .tags .title {
    font-size: 14px;
    margin-bottom: 5px;
}

.card .infocontent .tags>.tag-container {
    width: 100%;
    /* background-color: #575757; */
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.card .infocontent .tags .tag {
    font-size: xx-small;
    color: var(--primary-color);
    background-color: var(--tag-bg-color);
    border-radius: 5px;
    padding: 5px 20px;
}

.card .infocontent .priceratetag {
    font-size: large;
    left: 25px;
    bottom: 10px;
}

.card .infocontent .priceratetag small {
    font-size: x-small;
    vertical-align: middle;
}

.card .infocontent button {
    padding: 6px 20px;
    right: 20px;
    bottom: 10px;
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    color: #fff;
    background-color: var(--secondary-color);
    font-size: x-small;
    outline: none;
    cursor: pointer;
}

.card .infocontent button:hover {
    color: var(--secondary-color);
    background-color: #fff;
}